<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beloved.attendance">

    <application
        android:allowBackup="true"
        android:icon="@drawable/hhh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".Delete"></activity>
        <activity android:name=".UpdAct" />
        <activity android:name=".AddAct" />
        <activity android:name=".User" />
        <activity android:name=".Admin2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>